.loginBtn, .regBtn {
	width: 140px;
	height: 50px;
	margin-top: 30px;
	font-size: 20px;
	font-weight: 700;
}

.loginP {
	font-size: 20px;
	font-weight: 700;
	padding: 0;
	margin: 10px 0;
}

.errorMessage {
	font-size: 20px;
	font-weight: 700;
	padding: 0;
	margin-top: 10px;
	text-align: center;
	color: red;
}

.loginForm {
	margin: 100px auto;
	background-color: yellow;
	width: 35vw;
	padding: 30px;
	border: 4px solid #000
}

.loginInput {
	box-sizing: border-box;
	width: 100%;
	height: 45px;
	font-size: 30px;
	font-weight: 700;
	padding-left: 5px;
}

.btnBlock {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 480px) {
	.loginForm {
		width: 50vw;
		padding: 20px;
	}
}

@media (max-width: 480px) and (min-width: 320px) {
	.loginForm {
		width: 85vw;
		padding: 20px;
	}

	.btnBlock {
		padding-top: 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.loginP {
		font-size: 16px;
		font-weight: 700;
	}

	.loginInput {
		font-size: 20px;

	}

}