.btnsWrap {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

@media (max-width: 480px) and (min-width: 320px) {
    .btnsWrap {
        width: 100%;
        padding: 20px;
        justify-content: center;
    }
}