.navWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBtn {
    height: 50px;
    min-width: 150px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 480px) and (min-width: 320px) {
    .navWrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .navBtn {
        height: 70px;
        margin: 20px 0;
        font-size: 20px;
    }
}
