.dictList {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	font-size: 40px;
	font-weight: 700;
	color: #fff;

	height: 80px;
	margin: 15px 0;
	padding: 10px 20px;
}

li:nth-child(2n) {
	background-color: #000;
}

li:nth-child(2n + 1) {
	color: #000;
	background-color: #fff;
}

.delete,
.check{
	font-size: 20px;
	width: 45px;
	height: 45px;
	box-shadow: none;
	margin: 0 5px;
	color: #000;
}

.check span,
.delete span {
	padding: 0 !important;
	border: none;
	outline: none;
}

.check:hover {
	background-color: green;
}

.delete:hover {
	background-color: red;
}


.learnedWord,
.dictList.learnedWord,
.learnedWord > .check,
.learnedWord > .delete{
	background: rgb(206, 206, 206);
	color: rgb(139, 139, 139);
	text-decoration: line-through;
}

.block {
	display: flex;
}

@media (max-width: 480px) and (min-width: 320px) {
	.dictList {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		font-size: 20px;
		font-weight: 300;
		color: #fff;

		height: 80px;
		margin: 10px 0;
		padding: 10px 10px;
	}

	.delete,
	.check {
		font-size: 20px;
		font-weight: 700;
		width: 35px;
		height: 35px;
		box-shadow: none;
	}
}
