.cover {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	text-align: center;
	background-color: yellow;
}

.cover .wrap {
	width: 50vw;
	position: relative;
	z-index: 1;
	padding: 50px 16px;
}

.logOut {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	position: fixed;
	top: 15px;
	right: 15px;
}

.logoutBtn {
	height: 45px;
	width: 80px;
	margin-left: 15px;
	font-size: 16px;
	font-weight: 700;
}

.user {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	overflow-wrap: break-spaces;
}

@media (max-width: 1024px) {
	.cover .wrap {
		width: 80vw;
	}
}

@media (max-width: 768px) {
	.cover .wrap {
		width: 80vw;
	}
}

@media (max-width: 480px) and (min-width: 320px) {
	.cover .wrap {
		width: 90vw;
		padding: 50px 16px;

	}
	.logOut {
		position: fixed;
		top: 20px;
	}
	.user{
		text-overflow: ellipsis;
		overflow: hidden;
		width: 40vw;
		white-space: nowrap;
	}
}
