@import "../../../UI/UIComponents.module.css";

.wrap {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  height: 60px;
  margin: 80px auto 20px;
}

.dictInput {
    cursor: inherit;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    font-size: 40px;
    font-weight: 700;
}

.dictP {
    font-size: 25px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .wrap {
        margin: 20px auto 20px;
    }

    .dictP {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .wrap {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        height: 60px;
        margin: 30px auto 130px;
    }

    .dictP {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 300;
        margin-top: 80px;
    }
}

