.addBtn {
  padding: 10px;
  margin: 0 10px;
}

@media (max-width: 480px) and (min-width: 320px) {
    .addBtn {
        width: 60px;
        height: 60px;
        padding: 10px;
        margin: 15px;
    }
}