.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
  width: 200px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid #000;
  box-shadow: 4px 4px 0 0 #fff;
  transition: all 0.2s ease-in;
}

.card:hover .cardInner {
  border: 3px solid #000;
  box-shadow: none;
  transition: all 0.2s ease-in;
}

.card.done .cardInner {
  border: 3px solid #000;
  box-shadow: none;
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #000;
  color: white;
  transform: rotateY(180deg);
}

@media (min-width: 320px) {
  .card {
    height: 100px;
    width: 180px;
    font-size: 18px;
  }
}
