@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
@import '~antd/dist/antd.css';

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
