.mainBlockStyle,
input {
  border: 4px solid #000;
  background-color: #fff;
  box-shadow: inset 2px 2px 0 0 #ff0, 4px 4px 0 0 #fff;
  transition: all 0.2s ease-in;
}

.mainBlockStyle:hover,
.mainBlockStyle:focus,
.mainBlockStyle:active,
input:active,
input:focus {
  cursor: pointer;
  color: #fff;
  box-shadow: none;
  background-color: #000;
  transition: all 0.2s ease-in;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
